In [65]:
#Import All The Libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

#Import The Dataset
df=pd.read_csv("ML13.csv")

#Data Cleaning
def mode_value(df,col):
    m=df[col].mode()[0]
    df.fillna({col:m},inplace=True)
def mean_value(df,col):
    m=df[col].mean()
    df.fillna({col:m},inplace=True)
num_col=[col for col in df.columns if df[col].dtype=="float64"]
obj_col=[col for col in df.columns if df[col].dtype=="object"]
for col in num_col:
    mean_value(df,col)
for col in obj_col:
    mode_value(df,col)
df['Sex']=df['Sex'].map({'male':1,'female':0})
df['Embarked']=df['Embarked'].map({'S':0,'C':1,'Q':2})

#Data Preprocessing
scaler=StandardScaler()
X=df.drop({'PassengerId','Ticket','Cabin','Name','Survived'},axis=1)
y=df['Survived']
x=pd.DataFrame(scaler.fit_transform(X),columns=X.columns)

#Train-Test Splitting
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=42)

#Model Training and Accuracy Check
models=[]
models.append(('Logistic Regression',LogisticRegression(max_iter=1000)))
models.append(('KNN',KNeighborsClassifier()))
models.append(('RandomForestClassifier',RandomForestClassifier()))
models.append(('SVM',SVC(kernel='linear')))
for name,model in models:
    print("\n")
    print("*******************Model Name : ",name,"*********************")
    print()
    model.fit(x_train,y_train)
    x_pred=model.predict(x_test)
    print("Accuracy :",accuracy_score(y_test,x_pred))

*******************Model Name :  Logistic Regression *********************

Accuracy : 0.8100558659217877


*******************Model Name :  KNN *********************

Accuracy : 0.8212290502793296


*******************Model Name :  RandomForestClassifier *********************

Accuracy : 0.8156424581005587


*******************Model Name :  SVM *********************

Accuracy : 0.776536312849162

In [41]:
df['Embarked'].va;ue_counts()

Embarked
0    646
1    168
2     77
Name: count, dtype: int64

In [43]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,B96 B98,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,B96 B98,0

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [37]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [45]:
df["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64