In [45]:
#Import All The Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,confusion_matrix

#Read The CSV File
df=pd.read_csv("Copy of sonar data.csv",header=None)

#Train-Test Splitting
x=df.drop(columns=60,axis=1)
y=df[60]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)
print("X-Train Shape:",x_train.shape)
print("X-Test Shape :",x_test.shape)
print("Y_train shape:",y_train.shape)
print("Y_Test Shape :",y_test.shape)

#Finding Its Accuracy
model=LogisticRegression()
print("\n")
print("*******************Model-Name : Logistic-Regression*********************")
print()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Confusion-Matrix :",confusion_matrix(y_test,y_pred))
print()
print("Accuracy :",accuracy_score(y_test,y_pred))
print()

#Input Data
input_data=(0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,0.0881,0.1992,0.0184,0.2261,0.1729,0.2131,0.0693,0.2281,0.4060,0.3973,0.2741,0.3690,0.5556,0.4846,0.3140,0.5334,0.5256,0.2520,0.2090,0.3559,0.6260,0.7340,0.6120,0.3497,0.3953,0.3012,0.5408,0.8814,0.9857,0.9167,0.6121,0.5006,0.3210,0.3202,0.4295,0.3654,0.2655,0.1576,0.0681,0.0294,0.0241,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117)
I_D=np.asarray(input_data)
I_D_Reshaped=I_D.reshape(1,-1)
prediction=model.predict(I_D_Reshaped)
print("The Predicted Value For The Given Input is :",prediction)

X-Train Shape: (187, 60)
X-Test Shape : (21, 60)
Y_train shape: (187,)
Y_Test Shape : (21,)


*******************Model-Name : Logistic-Regression*********************

Confusion-Matrix : [[12  1]
 [ 2  6]]

Accuracy : 0.8571428571428571

The Predicted Value For The Given Input is : ['M']

In [23]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [25]:
rows=df[60]
rows

0      R
1      R
2      R
3      R
4      R
      ..
203    M
204    M
205    M
206    M
207    M
Name: 60, Length: 208, dtype: object

In [27]:
df.shape

(208, 61)

In [29]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [31]:
df[60].value_counts()

60
M    111
R     97
Name: count, dtype: int64

In [33]:
df.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

In [35]:
df[60]=df[60].map({"R":1,"M":0})

In [37]:
x=df.drop(columns=60,axis=1)
y=df[60]
y

0      1
1      1
2      1
3      1
4      1
      ..
203    0
204    0
205    0
206    0
207    0
Name: 60, Length: 208, dtype: int64

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)
print("X-Train Shape:",x_train.shape)
print("X-Test Shape :",x_test.shape)
print("Y_train shape:",y_train.shape)
print("Y_Test Shape :",y_test.shape)

X-Train Shape: (187, 60)
X-Test Shape : (21, 60)
Y_train shape: (187,)
Y_Test Shape : (21,)

In [41]:
model=LogisticRegression()
print("\n")
print("*******************Model-Name : Logistic-Regression*********************")
print()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Confusion-Matrix :",confusion_matrix(y_test,y_pred))
print()
print("Accuracy :",accuracy_score(y_test,y_pred))
print("Precision :",precision_score(y_test,y_pred))
print("Recall :",recall_score(y_test,y_pred))
print("F1score :",f1_score(y_test,y_pred))

*******************Model-Name : Logistic-Regression*********************

Confusion-Matrix : [[12  1]
 [ 2  6]]

Accuracy : 0.8571428571428571
Precision : 0.8571428571428571
Recall : 0.75
F1score : 0.8

In [43]:
#Input Data
input_data=(0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,0.0881,0.1992,0.0184,0.2261,0.1729,0.2131,0.0693,0.2281,0.4060,0.3973,0.2741,0.3690,0.5556,0.4846,0.3140,0.5334,0.5256,0.2520,0.2090,0.3559,0.6260,0.7340,0.6120,0.3497,0.3953,0.3012,0.5408,0.8814,0.9857,0.9167,0.6121,0.5006,0.3210,0.3202,0.4295,0.3654,0.2655,0.1576,0.0681,0.0294,0.0241,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117)
I_D=np.asarray(input_data)
I_D_Reshaped=I_D.reshape(1,-1)
prediction=model.predict(I_D_Reshaped)
print("The Predicted Value For The Given Input is :",prediction)

The Predicted Value For The Given Input is : [0]