In [110]:
#Import All The Libraries
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

#Import The Dataset
df=pd.read_csv("insurance.csv")
df['sex']=df['sex'].map({'female':0,'male':1})
df['smoker']=df['smoker'].map({'yes':1,'no':0})
df['region']=df['region'].map({'southwest':0,'southeast':1,'northwest':2,'northeast':3})

#Data Preprocessing
scalar=StandardScaler()
X=df.drop('charges',axis=1)
y=df["charges"]
x=pd.DataFrame(scalar.fit_transform(X),columns=X.columns)

#Train-Test Split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

#Model Training and Model's Accuracy
models=[]
models.append(("Random Forest Regressior", RandomForestRegressor()))
models.append(('Linear Regression',LinearRegression()))
for name,model in  models:
    print()
    print("*****",name,"*****")
    print()
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    print("Accuracy_score:",r2_score(y_test,y_pred))

***** Random Forest Regressior *****

Accuracy_score: 0.8637351489309445

***** Linear Regression *****

Accuracy_score: 0.7833463107364536

In [94]:
df['age'].value_counts()

age
18    69
19    68
50    29
51    29
47    29
46    29
45    29
20    29
48    29
52    29
22    28
49    28
54    28
53    28
21    28
26    28
24    28
25    28
28    28
27    28
23    28
43    27
29    27
30    27
41    27
42    27
44    27
31    27
40    27
32    26
33    26
56    26
34    26
55    26
57    26
37    25
59    25
58    25
36    25
38    25
35    25
39    25
61    23
60    23
63    23
62    23
64    22
Name: count, dtype: int64

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

In [98]:
df.shape

(1338, 7)

In [100]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       0  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [102]:
df['smoker'].value_counts()

smoker
0    1064
1     274
Name: count, dtype: int64