In [98]:
#Import all the Libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

#Import The dataset
df=pd.read_csv("Train.csv")

#Filling the Missing Values
def Mean_value(df,column):
    mean_value=df[column].mean()
    df.fillna({column:mean_value},inplace=True)
def Mode_value(df,column):
    mode_value=df[column].mode()[0]
    df.fillna({column:mode_value},inplace=True)
num_col=[col for col in df.columns if df[col].dtype=="float64"]
odj_col=[col for col in df.columns if df[col].dtype=="object"]
for col in odj_col:
    Mode_value(df,col)
for col in num_col:
    Mean_value(df,col)

#Label Encoding
encoder=LabelEncoder()
df['Item_Identifier']=encoder.fit_transform(df['Item_Identifier'])
df['Item_Type']=encoder.fit_transform(df['Item_Type'])
df['Item_Fat_Content']=encoder.fit_transform(df['Item_Fat_Content'])
df['Outlet_Identifier']=encoder.fit_transform(df['Outlet_Identifier'])
df['Outlet_Size']=encoder.fit_transform(df['Outlet_Size'])
df['Outlet_Location_Type']=encoder.fit_transform(df['Outlet_Location_Type'])
df['Outlet_Type']=encoder.fit_transform(df['Outlet_Type'])

#Data Preprocessing
scalar=StandardScaler()
X=df.drop('Item_Outlet_Sales',axis=1)
x=pd.DataFrame(scalar.fit_transform(X),columns=X.columns)
y=df["Item_Outlet_Sales"]

#Train-test Split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)

#Model Training and Its Accuracy
model=XGBRegressor()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Accuracy Score:",r2_score(y_test,y_pred))

Accuracy Score: 0.5650046698840852

In [90]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   int32
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   int32
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   int32
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   int32
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   int32
 9   Outlet_Location_Type       8523 non-null   int32
 10  Outlet_Type                8523 non-null   int32
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int32(7), int64(1)
memory usage: 566.1 KB

In [94]:
df['Item_Fat_Content'].value_counts()

Item_Fat_Content
1    5089
2    2889
0     316
4     117
3     112
Name: count, dtype: int64

In [96]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,9.30,1,0.016047,4,249.8092,9,1999,1,0,1,3735.1380
1,8,5.92,2,0.019278,14,48.2692,3,2009,1,2,2,443.4228
2,662,17.50,1,0.016760,10,141.6180,9,1999,1,0,1,2097.2700
3,1121,19.20,2,0.000000,6,182.0950,0,1998,1,2,0,732.3800
4,1297,8.93,1,0.000000,9,53.8614,1,1987,0,2,1,994.7052